.player{
    width: 100%;
    background-color: #181818;
    position: fixed;
    bottom: 0;
    padding: 16px;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.player .music-information{
    display: flex;
    align-items: center;
}

.player .music-information a{
    margin: 0 0 0 10px;
    color: #ffffff9c;
}

.player .music-information a:hover{
    color: #ffffff;
}

.player .music-information img{
    width: 70px;
    height: 70px;
    margin: 0 16px 0 0;
}

.player span{
    font-family: Helvetica;
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.player span:hover{
    text-decoration: underline;
}

.player .music{font-size: 14px;}

.player .artist-name{
    font-size: 11px;
    margin-top: 3px;
    color: #ffffffb4;
}

.player .player-controls{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player .player-controls .controls{
    display: flex;
    align-items: center;
}

.player .player-controls .controls button:not(.play, .paused){
    color: #ffffff8f;
    font-size: 14px;
    margin: 0 20px;
    background-color: transparent;
    border: none;
}

.player .player-controls .controls button:hover:not(.play, .paused){color: #ffffff;}

.player .player-controls .controls .play{
    background-color: #ffffff;
    color: #000000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
}

.player .player-controls .controls .paused{
    position: fixed;
    transform: translateX(-40px);
    background-color: #ffffff;
    color: #000000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: none;
}

.player .player-controls .controls .play:hover{transform: scale(1.1);}

.player .player-controls .bar{
    position: relative;
    width: 500px;
    height: 3px;
    border-radius: 20px;
    margin-top: 15px;
    background-color: #1ed760;
}

.player .player-controls .bar::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
}

.player .audio .bar{
    position: relative;
    width: 100px;
    height: 3px;
    border-radius: 20px;
    background-color: #1ed760;
}

.player .audio{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 311px;
}

.player .audio svg{
    margin: 0 15px 0 0;
    color: #ffffff8f;
}

.player .audio .bar::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
}